body {
		width: 960px;
		margin: 0 auto 0 auto;
		padding: 20px;
}

#footer {

		background: #666666;
		padding: 20px;
		width: 100%;
		clear: both;
		border-top-style: solid;
		border-top-width: 5px;
		border-top-color: #4aaaa5;

}

#top {
		padding: 35px;
  		margin-bottom: 10px;
  		background: #ffffff;
  		width: 100%;
  		border-bottom-style: solid;
  		border-bottom-width: 2px;
  		border-bottom-color: #cccccc;
}

#nav {
	float: right;
}

#main-section {
		float:left;
		width: 450px;
		background: #ffffff;
		padding: 30px;
		margin-bottom: 20px;
		margin-right: ;
		height: 495px;
		border-style: solid;
		border-width: 1px;
		border-color: #cccccc;

}

#connect {

		background: #ffffff;
		float: right;
		padding: 30px;
		margin-bottom: 20px;
		width: 170px;
		height: 140px;
		border-style: solid;
		border-width: 1px;
		border-color: #cccccc;
}

#line {

	width: 100%;
	background: #cccccc;
	padding: 1px;
	margin-bottom: 5px;
}

#inside-section {
	
	float: left;

}

#myp {
	
	margin-bottom: 5px;
	margin-right: 10px;
	margin-top: 15px;
}





